<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>

    <h1>Create New Animal</h1>

    <form action="/animal" method="POST">
        <input type="text" name="name" placeholder="Name of Animal"/>
        <input type="submit" value="Create Animal"/>
    </form>

</body>
</html>