<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <h1>Create New Songbird</h1>

    <div class="new-inputs">
        <form action="/songbird" method="POST">
            <input type="text" name="name" placeholder="Name of Songbird"/>
            <input type="text" name="Image" placeholder="Image"/>
            <input type="submit" value="Create New Songbird" class="create-button"/>
        </form>
    </div>

</body>
</html>