<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Songbirds</h1>

    <div class="create-button">
        <a href="songbird/new"><button>Create New Songbird</button></a>
    </div>

    <div class="index-container">
        <% songbirds.forEach((songbird, index) => { %>
    
    <div class="index-songbird">
        <a href="/songbird/<%= songbird._id %>"><h2 class="index-name"><%=songbird.name%></h2></a>
        <img class="index-image" src="<%= songbird.img%>">
 
        </div>
        <% }) %>
    </div>
</body>
</html>