* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
    text-align: center;
    justify-content: center;
    background-color: bisque;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 70px;
}

.create-button {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    border-radius: 2rem;
}

.index-container {
    display: flex;
    flex-wrap: wrap;
}

.new-inputs form {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.new-inputs input[type = "submit"] {
    margin-top: 10px;
}

.new-inputs input[type= "text"] {
    width: 180px;
}