* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
    text-align: center;
    justify-content: center;
    background-color: bisque;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 70px;
}

.create-button {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    border-radius: 2rem;
}

.index-songbird {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.index-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.new-inputs form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-inputs input[type = "submit"] {
    margin-top: 10px;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 2rem;
}

.new-inputs input[type= "text"] {
    width: 300px;
    height: 20px;
    margin-bottom: 30px;
}

img {
    width: 200px;
    height: 200px;
}

.specialty {
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container a {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.button-container a:last child {
    margin-right: 0;
}